
:root {
    --bg-cream: #F9F6F0;
    --earth: #8C7361;
    --cherry: #7A2836;
    --dark-earth: #3E322C;
    --border-light: #E6DFD3;
}


body {
    background-color: var(--bg-cream);
    color: var(--dark-earth);
    font-family: 'Lato', sans-serif; 
}

h1, h2, h3, h4, h5, h6, .premium-font {
    font-family: 'Playfair Display', serif;
    color: var(--dark-earth);
    font-weight: 600;
}


.btn-primary-custom {
    background-color: var(--cherry);
    color: white;
    border: none;
    padding: 10px 24px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn-primary-custom:hover {
    background-color: #5c1d28; 
    color: white;
}


.card {
    background-color: #ffffff;
    border: 1px solid var(--border-light);
    box-shadow: 0 4px 6px rgba(0,0,0,0.02);
}